<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886958340235-0op2l6ia6dsjn9rfibi31n2he6tvdpvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886958340235-0op2l6ia6dsjn9rfibi31n2he6tvdpvq</string>
	<key>API_KEY</key>
	<string>AIzaSyCnuyXmNyeSK_J2pwoOZzTogECZXZUrM3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>886958340235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myhitha</string>
	<key>PROJECT_ID</key>
	<string>myhitha-e99e0</string>
	<key>STORAGE_BUCKET</key>
	<string>myhitha-e99e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:886958340235:ios:6d1bc232f9df637391fc8e</string>
	<key>DATABASE_URL</key>
	<string>https://myhitha-e99e0.firebaseio.com</string>
</dict>
</plist>
